@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #18242b;
    color: "#ffffff";
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

/* * {
    border: 1px solid #f00 !important;
} */
